<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word Login</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <h1>Please enter your name below and click submit to start playing!</h1>

    <ul>
     {{#errors}}
       <li>{{msg}}</li>
     {{/errors}}
    </ul>

    <form class="" action="/login" method="post">
      <input class="nameInput" type="text" name="name" value="" placeholder="First Name">
        <input type="submit" name="submit" value="Enter">
    </form>
  </body>
</html>
