<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mystery Word Game</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

  <h1>Welcome to Mystery Word {{name}}!</h1>
  <h3>Your mystery word is:
    {{#wordBlanks}}
    {{.}}
    {{/wordBlanks}}
  </h3>


    <h4>Letters guessed: </h4>
    <ul>
      <li><span>{{guessedLetters}} </span></li>
    </ul>


  {{#guessesLeft}}
    <h4>You have {{guessesLeft}} guesses left, please type a letter below and click on the guess button!</h4>{{/guessesLeft}}

<h4>{{duplicateLetterMessage}}</h4>

  <ul>
    {{#errors}}
      <li>{{msg}}</li>
    {{/errors}}
    <li>{{error}}</li>
  </ul>

  {{^guessesLeft}}
  <h4>Sorry, you are out of guesses, the mystery word was {{secretWord}}</h4>{{/guessesLeft}}


    <h2>{{gameOver}}</h2>

  <form class="letter" action="/mysteryWord" method="post">
    <input type="text" name="guess" value="">
    <input type="submit" name="button" value="Guess">
  </form>

</body>

</html>
