<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mystery Word Game</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <h1>Welcome to Mystery Word {{name}}!</h1>

  <!--only shows if there are guesses left  -->
  {{#guessesLeft}}
    <h3>Your mystery word is:
    {{#wordBlanks}}
    {{.}}
    {{/wordBlanks}}
  </h3>
  {{/guessesLeft}}

  <!--If no guesses left, this shows instead  -->
  {{^guessesLeft}}
  <h4>Sorry, you are out of guesses, the mystery word was {{secretWord}}</h4>{{/guessesLeft}}

  <h4>Letters guessed: </h4>
  <ul>
    <li><span>{{guessedLetters}} </span></li>
  </ul>

<!-- FIXME so that it doesn't show if word is guessed -->
{{#lengthOfWord}}
  {{#guessesLeft}}
    <h4>You have {{guessesLeft}} guesses left, please type a letter below and click on the guess button!</h4>{{/guessesLeft}}
{{/lengthOfWord}}

  <h4>{{duplicateLetterMessage}}</h4>

  <ul>
    {{#errors}}
      <li>{{msg}}</li>
    {{/errors}}
    {{#error}}
      <li>{{error}}</li>
    {{/error}}
  </ul>

  <h2>{{gameOver}}</h2>

  <form class="letter" action="/mysteryWord" method="post">
    <input type="text" name="guess" value="">
    <input type="submit" name="button" value="Guess">
  </form>
  <!-- should only show if game is over -->
{{#gameOver}}
  <form class="newWord" action="/playAgain" method="get">

    Play again?<input type="submit" name="button" value="Yes">
  </form>
  <span><form class="" action="/end" method="post">
      <input type="submit" name="button" value="No">
    </form>
    {{/gameOver}}
  </form>
</span>
</body>

</html>
