<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word Game</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>

<h1>Welcome to Mystery Word {{name}}!</h1>

<!-- <h3>Your mystery word is:  {{context.wordLetters}}</h3>

<h4>Letters guessed: {{context.guessedLetters}}</h4>

<h4>You have {{context.guesses}} guesses left!</h4>
{{^context.guesses}}<h4>Sorry, you are out of guesses, the mystery word was {{context.secretWord}}</h4>{{/context.guesses}} -->
  </body>
</html>
