<form class="newWord" action="/playAgain" method="get">
  Play again? <input type="submit" name="button" value="Yes">
</form>
<span>
  <form class="noNewWord" action="/end" method="post">
    <input type="submit" name="button" value="No">
  </form>
</span>
